name: CI Build

on:
  push:
    branches:
      - "*"  # Trigger on all branches
  pull_request:
    branches:
      - "main"

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }} # Image name (ex: ghcr.io/<ton-org>/<ton-repo>)

jobs:
  test:
    name: Runs unit tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.21'
      - name: Get dependencies
        run: go mod download

      - name: Unit tests
        run: go test -v ./...
